* {
    font-family: 'Italiana', serif;
}

body {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), 
      url(https://exclusivejobsinmalta.files.wordpress.com/2019/11/radio-and-mic.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 50px;
    
}

h3 {
    color: white;
    font-weight: 400;
    margin-top: 20px;
}

h4 {
    padding: 10px;
    font-weight: 400;
    font-size: 25px;
}

.navbar {
    opacity: 90%;
}

.helen-wells {
    height: 80px;
    width: 160px;
    margin: 10px;
}

.desanti {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.nav-link {
    padding: 10px;
    margin-left: 10px;
    font-size: 30px;
}

.body-container {
    text-align: center;
}

.heading {
    margin-top: 50px;
}

.content-container {
    margin-top: 100px;
}

.card {
    align-items: center;
    opacity: 70%;
    padding: 10px;
}

.contact-info {
    margin-top: 25px;
}
